.card-item {
  border: 2px solid;
  box-sizing: border-box;
  border-radius: 4px;
}
.card-expand {
  top: 0;
  left: 0;
  position: fixed;
  opacity: 0;
  display: none;
}
.card-expanded {
  overflow: auto;
  display: block;
  z-index: 9999;
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.hover-card {
  transition: box-shadow 0.2s linear;
}

.hover-card:hover {
  box-shadow: 5px 5px black;
}
