.sidebar {
  border-right: 1px solid #e0e0e0;
  background-color: #f9eecf;
}

.order-type-bg {
  background: #fffbb0;
}

.bg-checkbox {
  background-color: black;
  height: 3.5rem;
}
.hover-box {
  transition: box-shadow 0.2s linear;
}

.hover-box:hover {
  box-shadow: 4px 4px black;
}
