.hover-button {
  background-color: #37b0ff;
}
.hover-button:hover {
  background-color: rgba(252, 249, 249, 0.974);
  box-shadow: 2px 2px #37b0ff;
  color: #37b0ff;

  transition: 0.3s ease-in-out;
}
