@font-face {
  font-family: "KGHAPPY-solid";
  src: url("./assets/fonts/KGHAPPYSolid.ttf") format("truetype");
}

@font-face {
  font-family: "KGHAPPY";
  src: url("./assets/fonts/KGHAPPY.ttf") format("truetype");
}
.custom-font {
  font-family: "KGHAPPY-solid";
}
.custom-font-shadow {
  font-family: "KGHAPPY";
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.background-html {
  background-color: #f8f5ed;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
